.user-story {
  border: 1px solid rgba(120, 120, 120, 0.3);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.user-story__description {
  font-size: 20px;
  margin: 0;
  padding: 20px;
}

.user-story__copy-link {
  display: inline-block;
  position: relative;
  color: dodgerblue;
}

.copied-elem {
  position: absolute;
  display: block;
  z-index: 1000;
  background-color: cornflowerblue;
  color: #ffffff;
  padding: 5px;
}

.--voted {
  border-color: cornflowerblue;
}
