.user-story {
  border: 1px solid dodgerblue;
  border-radius: 10px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-self: start;
}

.user-story__description {
  font-size: 18px;
  margin: 0;
  padding: 20px 0;
}

.user-story__copy-link {
  display: block;
  position: relative;
  color: dodgerblue;
  text-align: center;
}

.user-story__create-poll-button {
  display: block;
  appearance: none;
  background: none;
  color: cornflowerblue;
  width: 100%;
  border: 1px solid dodgerblue;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.1s, color 0.1s;
  margin-bottom: 20px;
}

.user-story__create-poll-button:hover {
  background-color: dodgerblue;
  color: #ffffff;
}

.user-story__create-poll-button:active {
  background-color: #1f7bd4;
}

.copied-elem {
  position: absolute;
  display: block;
  z-index: 1000;
  background-color: cornflowerblue;
  color: #ffffff;
  padding: 5px;
}

.--voted {
  border: 1px solid rgba(120, 120, 120, 0.3);
}
